<ActionBar title="NS Mapbox Examples" class="action-bar"></ActionBar>

<ScrollView>
    <WrapLayout>
        <MDCardView margin="16" *ngFor="let page of pages" [nsRouterLink]="['/', page.path]">
            <StackLayout padding="24">
                <Image [src]="page.imageUrl"></Image>
                <Label
                    [text]="page.title"
                    fontSize="20"
                    marginTop="16"
                ></Label>
            </StackLayout>
        </MDCardView>
    </WrapLayout>
</ScrollView>